spring:
  datasource:
    url: "jdbc:postgresql://127.0.0.1:15432/huddle"
    username: postgres
    password: password
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: create-drop
    show-sql: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always